.game {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

@keyframes overlayAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.game .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  padding: 0 20%;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  animation: overlayAppear .2s 0s ease 1 forwards;
}

.game .overlay .brand {
  width: 80%;
  height: auto;
  max-width: 1000px;
}

.game .overlay .info {
  color: white;
  font-size: calc(10px + 5vh);
  margin-bottom: 20px;
  text-align: center;
}

.game .overlay .buttons button {
  color: white;
  font-size: calc(10px + 5vh);
  padding: 2vh;
  background: rgba(255, 255, 255, .2);
  border: 0;
  margin: 2vh;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
  transition: all .2s ease;
  text-transform: uppercase;
}

.game .overlay .buttons button:hover {
  transform: scale(.8);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}