@keyframes customPromptAppear {
    from {
        opacity: 0;
        top: 0;
    }

    to {
        opacity: 1;
        top: 20px;
    }
}

.custom-prompt {
    position: fixed;
    top: 20px;
    left: 50vw;
    transform: translateX(-50%);

    min-width: 300px;
    padding: 20px;
    width: 40%;

    animation: customPromptAppear .2s ease 0s 1 forwards;
    background: black url(/images/wall-small.jpg) no-repeat center center / cover;
    color: white;
    font-size: calc(10px + 5vh);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}

.custom-prompt input {
    background: rgba(0, 0, 0, .5);
    border: 0;
    padding: 2vh;
    width: 100%;
    font-size: calc(10px + 2vh);
    color: white;
}

.custom-prompt .buttons {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.custom-prompt button {
    background: white;
    border: 0;
    padding: 2vh;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    font-size: calc(10px + 2vh);
    transition: all .2s ease;
}

.custom-prompt button:disabled {
    opacity: .5;
}