.slime-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.slime-container .board {
  min-height: 800px;
  height: 80vh;
  width: 20%;
  min-width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background: black url(/images/wall-small.jpg) no-repeat center center / cover;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}

.slime-container .board .win-lose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  padding: 20%;
  text-align: center;
  font-size: calc(10px + 2vh);
  color: white;
  text-transform: uppercase;
  z-index: 8;
}

.slime-container .informations {
  padding: 20px;
  background: rgba(0, 0, 0, .5) url(/images/wall-small.jpg) no-repeat center center / cover;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  flex-direction: column;
  min-width: 250px;
  min-height: 200px;
}

.slime-container .informations .next-couple {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.slime-container .informations .next-enemies {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}
