.relative-joycon {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.relative-joycon .initial-position {
  position: absolute;
  width: 20%;
  border-radius: 50%;
  background: black;
  transform: translateX(-50%) translateY(-50%);
}

.relative-joycon .initial-position:before {
  content: '';
  display: block;
  padding: 100% 0 0 0;
}

.relative-joycon .actual-position {
  position: absolute;
  width: 40%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  transform: translateX(-50%) translateY(-50%);
}

.relative-joycon .actual-position:before {
  content: '';
  display: block;
  padding: 100% 0 0 0;
}