.slime {
  width: 12.5%;
  background: transparent no-repeat center center / 100% 100%;
  position: relative;
}

@keyframes slimeAnimated {
  from {
    opacity: 1;
    transform: scale(1)
  }

  to {
    opacity: .2;
    transform: scale(.5)
  }
}

@keyframes slimeMoving {
  from {
    opacity: 1;
  }

  to {
    opacity: .5;
  }
}

.slime.animated {
  animation: slimeAnimated .5s ease 0s infinite alternate-reverse;
}

.slime.moving {
  animation: slimeMoving .5s ease 0s infinite alternate-reverse;
  transform: scale(.8);
}

.slime:before {
  content: '';
  display: block;
  padding: 100% 0 0 0;
}

.slime .pin {
  width: 3vh;
  height: 3vh;
  font-size: 2vh;
  border-radius: 50%;
  background-color: white;
  color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(25%, 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}
