.controller {
  width: 100%;
  height: 100%;
  position: relative;
}

.controller .player-informations {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  z-index: 2;
  padding: 10px;
  font-size: calc(10px + 15vh);
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-shadow: #000 1px 0 10px;
  text-align: right;
}

.controller .directional-buttons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .5) inset;
}

.controller .directional-buttons .left-panel,
.controller .directional-buttons .right-panel {
  width: 40%;
  height: 100%;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.controller .directional-buttons .left-panel {
  align-items: flex-start;
}

.controller .directional-buttons .right-panel {
  align-items: flex-end;
}

.controller .directional-buttons .spacer {
  flex: 1;
}

.controller button {
  font-size: calc(10px + 15vh);
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-shadow: #000 1px 0 10px;
  background: rgba(0,0,0,.65);
  padding: calc(10px + 1vh) calc(10px + 4vh);
  margin: calc(10px + .5vh) calc(10px + 2vh);
  transition: all .25s ease;
  user-select: none;
}

.controller button:active {
  font-size: calc(10px + 14vh);
  background: rgba(0,0,0,.75);
}

/*.controller .directional-buttons .top,*/
/*.controller .directional-buttons .bottom {*/
/*  width: 60%;*/
/*  height: 25%;*/
/*}*/

/*.controller .directional-buttons .left-and-right {*/
/*  width: 100%;*/
/*  height: 25%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*}*/

/*.controller .directional-buttons .left-and-right .spacer {*/
/*  flex: 1;*/
/*}*/

/*.controller .directional-buttons .left-and-right .left,*/
/*.controller .directional-buttons .left-and-right .right {*/
/*  width: 45%;*/
/*  height: 100%;*/
/*}*/

/*.controller .rotate-buttons .left,*/
/*.controller .rotate-buttons .right {*/
/*  height: 50%;*/
/*  width: 100%;*/
/*  background: transparent no-repeat center center / auto 33%;*/
/*}*/

/*.controller .rotate-buttons button:before {*/
/*  content: '';*/
/*  display: block;*/
/*  padding: 100% 0 0 0;*/
/*}*/

/*.controller .rotate-buttons .left {*/
/*  background-image: url('/images/rotateLeft.png');*/
/*  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .5) inset;*/
/*}*/

/*.controller .rotate-buttons .right {*/
/*  background-image: url('/images/rotateRight.png');*/
/*  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .5) inset;*/
/*}*/
