.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white url(/images/background-with-brand.jpg) no-repeat center center / cover;
  overflow: hidden;
}